main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/Screen\ Shot\ 2022-11-01\ at\ 1.35.14\ PM.png);
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 25px;
    font-weight: bold;
}

.hiding-spots {
    display: flex;
    gap: 50px;
}

.hiding-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chainsaw {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 400px;
}

.stats {
    margin-top: 50px;
}

.stat {
    display: flex;
    align-items: center;
}
